<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="general/fragmentos :: head"></head>

    <body>

        <header th:replace="general/fragmentos :: header"></header>

        <div class="container">

            <h2>Panel Admin</h2>

            <div style="display:flex; gap:15px; margin-top:20px; margin-bottom:30px;
                 background-color: lightgray; border-radius: 12px; padding: 15px;">

                <a th:href="@{/admin/dashboard}"
                   style="flex:1; padding:10px; background:black; color:white;
                   text-align:center; text-decoration:none; border-radius:10px; font-size:14px;">
                    Dashboard
                </a>

                <a th:href="@{/admin/productos}"
                   style="flex:1; padding:10px; background:black; color:white;
                   text-align:center; text-decoration:none; border-radius:10px; font-size:14px;">
                    Productos
                </a>

                <a th:href="@{/admin/clientes}"
                   style="flex:1; padding:10px; background:black; color:white;
                   text-align:center; text-decoration:none; border-radius:10px; font-size:14px;">
                    Clientes
                </a>

                <a th:href="@{/admin/ventas}"
                   style="flex:1; padding:10px; background:black; color:white;
                   text-align:center; text-decoration:none; border-radius:10px; font-size:14px;">
                    Ventas
                </a>

                <a th:href="@{/admin/reportes}"
                   style="flex:1; padding:10px; background:black; color:white;
                   text-align:center; text-decoration:none; border-radius:10px; font-size:14px;">
                    Reportes
                </a>

            </div>

            <h4>Lista de Clientes</h4>

            <table class="table table-bordered">

                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Teléfono</th>
                        <th>Total Comprado</th>
                    </tr>
                </thead>

                <tbody>

                    <tr>
                        <td>Marcela</td>
                        <td>marcela@email.com</td>
                        <td>8888-8888</td>
                        <td>₡3500</td>
                    </tr>

                    <tr>
                        <td>Ramiro</td>
                        <td>ramiro@email.com</td>
                        <td>7777-7777</td>
                        <td>₡1250</td>
                    </tr>

                </tbody>

            </table>

        </div>
        
        <footer th:replace="~{general/fragmentos :: footer}"/>

    </body>
</html>