<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="general/fragmentos :: head"></head>

    <body>

        <header th:replace="general/fragmentos :: header"></header>

        <div class="container">

            <h2>Panel Admin</h2>

            <div th:replace="general/fragmentos :: adminHead"></div>

            <h4>Resumen del Sistema</h4>

            <div class="row">

                <div class="col-md-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5>Total Clientes</h5>
                            <h3 th:text="${totalClientes}">15</h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5>Total Productos</h5>
                            <h3 th:text="${totalProductos}">52</h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5>Ventas Totales</h5>
                            <h3 th:text="${'$' + totalVendido}">₡76.000</h3>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </body>
</html>