<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="general/fragmentos :: head"></head>

    <body>

        <header th:replace="general/fragmentos :: header"></header>

        <div class="container">

            <h2>Panel Admin</h2>

<div th:replace="general/fragmentos :: adminHead"></div>

            <h4>Lista de Productos</h4>

    
    <div th:if="${todoOk}" class="alert alert-success" th:text="${todoOk}"></div>
    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

    
    <div class="mb-3 text-end">
        <a th:href="@{/admin/producto/nuevo}" class="btn btn-success">
            <i class="fas fa-plus"></i> Agregar Producto
        </a>
    </div>

    <table class="table table-striped">

        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Categoría</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>

            <tr th:each="p : ${productos}">
                <td th:text="${p.codigo}">P-40</td>
                <td th:text="${p.nombre}">Mascarilla</td>
                <td th:text="${p.categoria != null ? p.categoria.nombre : 'Sin categoría'}">Protección</td>
                <td th:text="${'₡' + p.precio}">₡2050</td>
                <td th:text="${p.stock}">500</td>

                <td>
                    <!-- editar -->
                    <a th:href="@{/admin/producto/modificar/{idProducto}(idProducto=${p.idProducto})}"
                       class="btn btn-warning btn-sm">
                        Editar
                    </a>

                    <!-- eliminar -->
                    <form th:action="@{/admin/producto/eliminar}" method="post" class="d-inline">
                        <input type="hidden" name="idProducto" th:value="${p.idProducto}"/>

                        <button type="submit"
                                class="btn btn-danger btn-sm"
                                onclick="return confirm('¿Seguro que desea eliminar este producto?')">
                            Eliminar
                        </button>
                    </form>
                </td>
            </tr>

        </tbody>

    </table>

</div>

    </body>
</html>