<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="general/fragmentos :: head"></head>

    <body>

        <header th:replace="general/fragmentos :: header"></header>

        <div class="container">

            <h2>Panel Admin</h2>

            <div style="display:flex; gap:15px; margin-top:20px; margin-bottom:30px;
                 background-color: lightgray; border-radius: 12px; padding: 15px;">

                <a th:href="@{/admin/dashboard}"
                   style="flex:1; padding:10px; background:black; color:white;
                   text-align:center; text-decoration:none; border-radius:10px; font-size:14px;">
                    Dashboard
                </a>

                <a th:href="@{/admin/productos}"
                   style="flex:1; padding:10px; background:black; color:white;
                   text-align:center; text-decoration:none; border-radius:10px; font-size:14px;">
                    Productos
                </a>

                <a th:href="@{/admin/clientes}"
                   style="flex:1; padding:10px; background:black; color:white;
                   text-align:center; text-decoration:none; border-radius:10px; font-size:14px;">
                    Clientes
                </a>

                <a th:href="@{/admin/ventas}"
                   style="flex:1; padding:10px; background:black; color:white;
                   text-align:center; text-decoration:none; border-radius:10px; font-size:14px;">
                    Ventas
                </a>

                <a th:href="@{/admin/reportes}"
                   style="flex:1; padding:10px; background:black; color:white;
                   text-align:center; text-decoration:none; border-radius:10px; font-size:14px;">
                    Reportes
                </a>

            </div>

            <h4>Lista de Productos</h4>

            <table class="table table-striped">

                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Categoría</th>
                        <th>Precio</th>
                        <th>Stock</th>
                    </tr>
                </thead>

                <tbody>

                    <tr>
                        <td>P-40</td>
                        <td>Mascarilla</td>
                        <td>Protección</td>
                        <td>₡2050</td>
                        <td>500</td>
                    </tr>

                    <tr>
                        <td>P-41</td>
                        <td>Guantes</td>
                        <td>Protección</td>
                        <td>₡2050</td>
                        <td>1000</td>
                    </tr>

                </tbody>

            </table>

        </div>
        <footer th:replace="~{general/fragmentos :: footer}"/>
    </body>
</html>