<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="general/fragmentos :: head"></head>

    <body>

        <header th:replace="general/fragmentos :: header"></header>

        <div class="container">

            <h2>Panel Admin</h2>

            <div th:replace="general/fragmentos :: adminHead"></div>

            <h4>Lista de Vendedores</h4>

            <div th:if="${todoOk}" class="alert alert-success" th:text="${todoOk}"></div>

            <div class="mb-3 text-end">
                <a th:href="@{/admin/vendedores/nuevo}" class="btn btn-success">
                    Agregar Vendedor
                </a>
            </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Usuario</th>
                        <th>Email</th>
                        <th>Rol</th>
                        <th>Acciones</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="v : ${vendedores}">
                        <td th:text="${v.idUsuario}">1</td>
                        <td th:text="${v.nombre}">Juan</td>
                        <td th:text="${v.nombre}">juan123</td>
                        <td th:text="${v.email}">juan@email.com</td>
                        <td th:text="${v.rol}">vendedor</td>

                        <td>
                            <a th:href="@{/admin/vendedores/modificar/{idUsuario}(idUsuario=${v.idUsuario})}"
                               class="btn btn-warning btn-sm">
                                Editar
                            </a>

                            <form th:action="@{/admin/vendedores/eliminar}" method="post" class="d-inline">
                                <input type="hidden" name="idUsuario" th:value="${v.idUsuario}"/>

                                <button type="submit"
                                        class="btn btn-danger btn-sm"
                                        onclick="return confirm('¿Seguro que desea eliminar este vendedor?')">
                                    Eliminar
                                </button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </body>
</html>