<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

    <!-- HEAD -->
    <head th:replace="~{general/fragmentos :: head}"></head>

    <body>

        <!-- HEADER (solo una vez) -->
        <header th:replace="~{general/fragmentos :: header}"></header>

        <!-- TARJETAS RESUMEN -->
        <div th:replace="~{MisCompras/fragmentos :: misComprasTarjetas}"></div>

        <!-- HISTORIAL -->
        <div th:replace="~{MisCompras/fragmentos :: miHistorial}"></div>

        <!-- FOOTER -->
        <footer th:replace="~{general/fragmentos :: footer}"></footer>

    </body>
</html>