<!-- Fragmento #1 que irá en el head de todas las páginas, así se incluye todo lo necesario de configuración-->
<head th:fragment="head">
    <title>Venta Equipo Medico</title>
    <meta charset="UTF-8"/>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>    
    <script th:src="@{/js/rutinas.js}"></script> 
    <link th:href="@{/css/estilos.css}" rel="stylesheet"/>
</head>


    <!-- ================== FRAGMENTO #2 HEADER GLOBAL ================== -->
    <header th:fragment="header" class="custom-header text-white py-3">
        <div class="container d-flex align-items-center">

            <!-- IZQUIERDA: Título (NO se mueve) -->
            <h2 class="m-0">Inventario Médico</h2>

            <!-- CENTRO: Navegación bien espaciada -->
            <nav class="d-flex gap-4 mx-auto">

                <a th:href="@{/}" class="btn btn-outline-light btn-sm">
                    Catálogo
                </a>

                <a th:href="@{/admin/dashboard}"
                   class="btn btn-outline-light btn-sm"
                   sec:authorize="hasRole('ADMIN')">
                    Panel Admin
                </a>

                <a th:href="@{/vendedor/misVentas(idVendedor=2)}"
                   class="btn btn-outline-light btn-sm"
                   sec:authorize="hasRole('VENDEDOR')">
                    Panel Vendedor
                </a>


            </nav>

            <!-- DERECHA: Login / Logout -->
            <div class="d-flex align-items-center gap-3">

                <div sec:authorize="isAuthenticated()" class="d-flex align-items-center gap-3">
                    <span>
                        Logueado como: <b sec:authentication="name"></b>
                    </span>

                    <form th:action="@{/logout}" method="post" class="d-inline">
                        <button type="submit" class="btn btn-danger btn-sm">
                            Logout
                        </button>
                    </form>
                </div>

                <div sec:authorize="!isAuthenticated()">
                    <a th:href="@{/login}" class="btn btn-light btn-sm">Login</a>
                </div>

            </div>

        </div>
    </header>

    <!-- ================== HEAD ================== -->
    <head th:fragment="head">
        <title>Venta Equipo Médico</title>
        <meta charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/rutinas.js}"></script>
        <link th:href="@{/css/estilos.css}" rel="stylesheet"/>
    </head>

    <!-- ================== HEADER GLOBAL ================== -->
    <header th:fragment="header" class="custom-header text-white py-3">
        <div class="container d-flex align-items-center">

            <!-- IZQUIERDA -->
            <h2 class="m-0">Inventario Médico</h2>

            <!-- CENTRO: navegación -->
            <nav class="d-flex gap-4 mx-auto">

                <a th:href="@{/}" class="btn btn-outline-light btn-sm">
                    Catálogo
                </a>

                <a th:href="@{/admin/dashboard}"
                   class="btn btn-outline-light btn-sm"
                   sec:authorize="hasRole('ADMIN')">
                    Panel Admin
                </a>

                <a th:href="@{/vendedor/dashboard(idVendedor=2)}"
                   class="btn btn-outline-light btn-sm"
                   sec:authorize="hasRole('VENDEDOR')">
                    Panel Vendedor
                </a>

                <a th:href="@{/perfil/listado(idCliente=1)}"
                   class="btn btn-outline-light btn-sm"
                   sec:authorize="isAuthenticated()">
                    Mi Perfil
                </a>

                <a th:href="@{/MisCompras/listado(idCliente=1)}"
                   class="btn btn-outline-light btn-sm"
                   sec:authorize="isAuthenticated()">
                    Mis Compras
                </a>

            </nav>

            <!-- DERECHA -->
            <div class="d-flex align-items-center gap-3">

                <!-- Usuario autenticado -->
                <div sec:authorize="isAuthenticated()" class="text-white small">
                    <i class="fas fa-user"></i>
                    <span th:text="${#authentication.name}">usuario</span>
                   
                </div>

                <div class="card-footer bg-white d-flex justify-content-between align-text-center">
                    <div class="fw-bold">
                        <span class="text-success h5">[[${p.stock}]] </span>
                        <span th:if="${p.stock > 0}" class="badge text-bg-success ms-2">unidades</span>
                        <span th:if="${p.stock == 0}" class="badge text-bg-danger ms-2">Agotado!</span>
                    </div>
                    
                      <!-- Botón comprar SOLO si está logueado -->
                        <form th:action="@{/carrito/agregar}" method="post" class="d-inline"
                              sec:authorize="isAuthenticated()">
                            <input type="hidden" th:value="${p.codigo}" name="idProducto"/>
                            <button type="submit" class="btn btn-sm btn-primary">
                                <i class="fas fa-cart-plus"></i>
                            </button>
                        </form>

                        <!-- Si no está logueado -->
                        <a th:href="@{/login}" class="btn btn-sm btn-outline-primary"
                           sec:authorize="!isAuthenticated()">
                            Inicia sesión para comprar
                        </a>
                </div>

                <!-- Login -->
                <div sec:authorize="!isAuthenticated()">
                    <a th:href="@{/login}" class="btn btn-light btn-sm">Login</a>
                </div>

            </div>

        </div>
    </header>

    <!-- ================== SUBTITULO ================== -->
    <div th:fragment="subtitulo" class="d-flex justify-content-start pt-4 pb-3 px-5"
         style="background-color: #f0f0f0;">
        <h4 class="m-0">Bienvenido al sistema de Inventario Médico</h4>
    </div>

    <!-- ================== CATALOGO ================== -->
    <section th:fragment="catalogo" class="container p-4">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-4">
            <div th:each="p : ${productos}" class="col">

                <div class="card h-100 shadow-sm">

                    <div class="d-flex justify-content-center align-items-center bg-light p-3" style="height:200px;">
                        <img th:src="${p.rutaImagen}" class="card-img-top"
                             style="max-height:100%;max-width:100%;object-fit:contain;">
                    </div>

                    <div class="card-header bg-white">
                        <h5 class="card-title text-center text-truncate mb-0">
                            [[${p.nombre}]]
                        </h5>
                    </div>

                    <div class="card-body">
                        <p class="text-muted mb-0">[[${p.codigo}]]</p>
                    </div>

                    <div class="card-footer bg-white d-flex justify-content-between align-items-center">
                        <div class="fw-bold">
                            <span class="text-success">[[${p.stock}]]</span>
                            <span class="badge text-bg-success ms-2"
                                  th:if="${p.stock > 0}">unidades</span>
                            <span class="badge text-bg-danger ms-2"
                                  th:if="${p.stock == 0}">Agotado</span>
                        </div>

                        <form>
                            <input type="hidden" th:value="${p.codigo}" name="idProducto"/>
                            <button type="button" class="btn btn-sm btn-primary"
                                    onclick="addCart(this.form)">
                                <i class="fas fa-cart-plus"></i>
                            </button>
                        </form>
                    </div>

                </div>
            </div>
        </div>


    </section>

    <!-- ================== FOOTER ================== -->
    <footer th:fragment="footer" class="p-2 custom-footer text-white text-center">
        <p class="lead fw-bold m-0">[[#{plantilla.derechos}]] &copy;</p>
    </footer>

</html>
