body{
    
    background-color: f0f0f0;
}
.custom-header{
    background-color: #6610f2;
}

.custom-nav{
    background-color: #bfbfbf;
    border-radius: 20px;
    font-weight: bold;
}

.custom-nav .nav-link{
    color: black;
    border-radius: 20px;
}

.custom-nav .nav-link.active{
    background-color: #e6e6e6;
    color: black;
}



.custom-footer{
    
    
    background-color: #6610f2;
    position: fixed;
    bottom: 0;
    width: 100%;
    

}


.nav-pills{
    
    background-color: lightgrey;
    margin: 0 30px;
    border-radius: 12px;
    
    
}

.nav-pills .nav-link {
    background-color: #e0e0e0; 
    color: #333;
    
    padding: 6px 12px; 
    font-size: 14px;

    border-radius: 8px;
    
    margin: 0 5px; 
    
    transition: 0.3s;
}

.nav-pills .nav-link:hover {
    background-color: #6610f2;
    
}

.nav-pills .nav-link.active {
    background-color: #000; 
    color: #fff;
}